<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>

  <!--HOST-->

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="NCRCryptoServiceBehaviour">
          <serviceMetadata httpGetEnabled="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="NCRCryptoServiceLibrary.NCRCryptoService"
               behaviorConfiguration="NCRCryptoServiceBehaviour">

        <endpoint address="NCRCryptoService" binding="netTcpBinding" contract="INCRCryptoService.INCRCryptoService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/"/>
            <!--<add baseAddress="http://localhost:8080/NCRCryptoService" />-->
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>
